.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100vh;
  width: 100vw;
  background-color: rgba(124, 124, 124, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}
