body {
  background: #dae2f8; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d6a4a4,
    #dae2f8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d6a4a4,
    #dae2f8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.modal-dialog {
  max-width: 75vw;
}
.cardItem {
  width: 320px;
  height: 500px;
  transition: 0.5s;
}
.cardItem:hover {
  width: 330px;
  height: 510px;
}
.grid-gap {
  grid-gap: 50px;
}
#product_list {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 50px;
}
#cart_modal {
  max-width: 1000px;
  margin: auto;
}
.customized_btn {
  display: inline-block;
  margin-bottom: 0;
  padding: 4px;
  cursor: pointer;

  width: 30px;
  border-radius: 10px;
}
#exampleModalCenter .modal-dialog {
  max-width: 1200px;
}
@media (max-width: 1199px) {
  #product_list {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 50px;
    column-gap: 50px;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  #product_list {
    display: grid;
    grid-template-columns: auto;
    row-gap: 50px;

    justify-content: center;
  }
  #select_phone {
    margin-right: 8px !important;
  }
  .customized_btn {
    margin: 0;
    padding: 2px;
    width: 20px;
  }
  .td_img {
    display: none;
  }
}
